* {
	margin:0;
}

body {
	font-family : cursive, sans-serif;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	background-color: #000000;
	color: white;
	
}

h1 {
	 font-family: 'STRTSHT', sans-serif;                                                                                     
	padding: 60px;
	text-align: center;
	font-size: 75px;
}

nav {
	background-color: black;
	color: white;
	padding: 25px;
	font-family: 'Graffiti font', sans-serif;
	text-align: center;
}

main {
	font-family: 'STRTSHT', sans-serif;
	padding: 25px;
	text-align: center;
}

footer {
	font-size: 12px;
	background-color: black;
	color: white;
	margin-top: auto;
	padding: 15px;
}

table, tr, td {
	border: 1px solid #cccccc;
	border-spacing: 0;
}

table{
	width: 100%;
}

tr, td {
		padding: 20px;
		text-align: center;
}

.logoImg {
	width: 180px;
}

.logoDiv {
	text-align: center;
}

.navbar-nav a:link { color: #FEF7EC; }
.navbar-nav a:visited { color: #FEF7EC; }
.navbar-nav a:hover { color: red; }
.navbar-nav a:active { color: red; }

.sign{
	text-align:center;
	padding: 20px;
}

label{
	text-align: center;
	position: relative;
}

input[type ="text"]:focus{
	border: none;
	width: 400px;
	height: 50px;
	padding: 16px;
}

.a1{
	font-family: 'STRTSHT', sans-serif;
	position: absolute;
	top: 0;
	bottom:0;
	background-color: black;
	color:white;
	padding: 16px:;
	letter-spacing: 2px;
	text-transform: uppercase;	
	border: none;
	cursor: pointer;
}

.a1:hover{
	transition: .8s;
}

button{
	font-family: 'STRTSHT', sans-serif;
	border: none;
	cursor: pointer;
	text-transform: uppercase;	
}

.eventImg{
	width: 500px;
}

.a3{
	color:white;
	text-decoration:none;
}